[commit]
        # In detailed commit code, it generates "---- >8 ----",
        # anything after the lint gets ignored instead of using "#" as
        # ignore character.
        cleanup = scissors
        verbose = true
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
[help]
        autocorrect = prompt
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[credential]
{{- if eq .chezmoi.os "darwin" }}
        helper = osxkeychain
{{- else if eq .chezmoi.os "linux" }}
        helper = cache --timeout=3600
{{- end }}
