{{- if eq .chezmoi.os "darwin" }}[core]
        excludesfile = /Users/iestyngage/.gitignore_global
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
{{- end }}
[user]
        name = {{ .git_name }}
        email = {{ .git_email }}

[filter "lfs"]
       clean = git-lfs clean -- %f
       smudge = git-lfs smudge -- %f
       process = git-lfs filter-process
       required = true
{{- end -}}

[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
[help]
        autocorrect = prompt
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true
[credential]
{{- if eq .chezmoi.os "darwin" }}
        helper = osxkeychain
{{- else if eq .chezmoi.os "linux" }}
        helper = cache --timeout=3600
{{- end }}
