{{- if eq .chezmoi.os "darwin" -}}
[core]
        excludesfile = /Users/iestyngage/.gitignore_global
[difftool "sourcetree"]
        cmd = opendiff \"$LOCAL\" \"$REMOTE\"
        path =
[mergetool "sourcetree"]
        cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
        trustExitCode = true
{{- end -}}
[user]
        name = {{ .git_name }}
        email = {{ .git_email }}
{{- if lookPath "git-lfs" }}
[filter "lfs"]
       clean = git-lfs clean -- %f
       smudge = git-lfs smudge -- %f
       process = git-lfs filter-process
       required = true
{{- end -}}
{{- if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
[credential]
       helper = /mnt/c/Program\\ Files/Git/mingw64/bin/git-credential-manager.exe
       store = manager
{{- else if eq .chezmoi.os "darwin" -}}
[credential]
        helper = osxkeychain
{{- end }}
[tag]
        sort = version:refname
[init]
        defaultBranch = {{ .git_default_branch |  default "main" }}
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
[help]
        autocorrect = prompt
[commit]
        verbose = true
        # When commiting code with "scissors", it generates "---- >8 ----", 
        # all content below the line is ignored instead of using "#" on
        # each line
        cleanup = scissors
[rerere]
        enabled = true
        autoupdate = true
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true